# weiwu-x1-wifi 板卡默认配置

# ESP32S3 基础配置
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# PSRAM 配置（3V Octal PSRAM - AP Memory AP64M）
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=49152
CONFIG_SPIRAM_MEMTEST=n
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y

# 缓存配置
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y

# 分区表配置（8MB Flash - 兼容 v1.5.2 格式）
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/8m_compatible.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# 唤醒词模型
CONFIG_SR_WN_WN9_NIHAOXIAOZHI_TTS=y

# 板卡类型
CONFIG_BOARD_TYPE_WEIWU_X1_WIFI=y

# 禁用 OLED 显示（该板卡无显示屏）
CONFIG_DISPLAY_ENABLE=n
 
# trigger build
